
.leaflet-container{
  width: 300vw;
  height: 100vh;
  background: black;
}
.container {
  background-color: rgb(221, 221, 216);
  display:flex;
  justify-content: space-between;
  align-items: left;
}

.tcontainer {
  background-color: rgb(221, 221, 216);
  display:flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  max-width: 400px;
  max-height: 350px;
  align-items: center;
}